{include file="public/head" /}
<title>管理员列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 </nav>
<div class="page-container"><div class="text-c"> 

    <span class="select-box" style="width:150px;">
      <select class="select" name="rid" size="1" id="rid">
      	 <option value="">请选择</option>
		{volist name="rolelist" id="vs"}
        <option value="{$vs.rid}">{$vs.rname}</option>
		{/volist}
      </select>
      </span> 

<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="account" name="account">
<button type="button" class="btn btn-success" id="serch" ><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
<span class="l">
<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 

 <a href="javascript:;" onclick="admin_add('添加管理员','addadmin','800','500')" class="btn btn-primary radius">
 <i class="Hui-iconfont">&#xe600;</i> 添加管理员</a>
 <a href="{:url('admin/admin/adminlist')}"  class="btn btn-primary radius">
 <i class="Hui-iconfont">&#xe600;</i> 全部</a>
</span>	
 <span class="r">共有数据：<strong>54</strong> 条</span>
  </div>
	<div id="adminlisttable">
		{include file="auth/adminlisttable" /}
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="public/foot" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__URL__lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__URL__lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__URL__lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
//搜索开始
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('admin/admin/admindel')}",
			dataType:'json',
			data:{admin_id:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
		});		
	});
}
/*管理员-编辑*/
function admin_edit(title,id,w,h){
	var url = "{:url('addadmin',['admin_id'=>'NMID'])}";
	 url = url.replace('NMID',id)
	 //alert(url);
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!', {icon: 6,time:1000});
	});
}
//时间日期控件
function selecttime(flag){
	    if(flag==1){
	        var endTime = $("#countTimeend").val();
	        if(endTime != ""){
	            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
	            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	    }else{
	        var startTime = $("#countTimestart").val();
	        if(startTime != ""){
	            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
	            WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
	    }
}
$('#serch').click(function(){
	var rid = $('#rid').val();
	var account = $('#account').val();
		$.ajax({
			type: 'POST',
			url: "{:url('admin/admin/adminlist')}",
			data:{rid:rid,account:account},
			success: function(data){
				//layer.msg('刷新页面!',{icon:1,time:1000});
				$("#adminlisttable").html(data);
			}
		});	
});
</script>
</body>
</html>