<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<title>亲子wap</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link type="text/css" href="css/reset.css" rel="stylesheet" />
<link type="text/css" href="css/index.css" rel="stylesheet" />
<link type="text/css" href="css/list.css" rel="stylesheet" />
<link type="text/css" href="css/swiper-4.3.3.min.css" rel="stylesheet">
<script type="text/javascript" src="js/swiper-4.3.3.min.js"></script>

<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script>
        $(window).load(function () {
            $('.btn-nav').on('click tap', function () {
                $('.nav-content').toggleClass('showNav hideNav').removeClass('hidden');
                $(this).toggleClass('animated');
            });
        });

    </script> 
</head>
<body>
<!--header-->
<div class="cehsi">
<header class="header">
国家权威DNA亲子鉴定中心
<button class="btn-nav">
<span class="icon-bar top"></span>
<span class="icon-bar middle"></span>
<span class="icon-bar bottom"></span></button>
</header>
<div class="nav-content hideNav hidden">
<ul class="nav-list">
<li class="nav-item"><a href="#" class="item-anchor">首页</a></li>

<li class="nav-item"><a href="#" class="item-anchor">公司简介</a></li>

<li class="nav-item"><a href="#" class="item-anchor">鉴定项目</a></li>

<li class="nav-item"><a href="#" class="item-anchor">采样方法</a></li>

<li class="nav-item"><a href="#" class="item-anchor">鉴定流程</a></li>

<li class="nav-item"><a href="#" class="item-anchor">鉴定资讯</a></li>

<li class="nav-item"><a href="#" class="item-anchor">费用标准</a></li>

<li class="nav-item"><a href="#" class="item-anchor">关于我们</a></li>

</ul>
</div>
</div>
<div style="width:100%; height:1rem;"></div>
<!--	banner-->
<div class="sfjdb"><img src="images/about_01.jpg" alt=""></div>
<!--nav-->
<div class="nav">
   <ul>
      <li><img src="images/index01.png" alt="关于我们"><a href="#">关于我们</a></li>
     <li><img src="images/index02.png" alt="亲子鉴定"><a href="#">亲子鉴定</a></li>
     <li><img src="images/index03.png" alt="鉴定流程"><a href="#">鉴定流程</a></li>
      <li><img src="images/index04.png" alt="联系我们\"><a href="javascript:void(0);" onClick="openZoosUrl();">联系我们</a></li>
   </ul>
</div>

<!--about01-->
<div class="about01">
  <p ></p>
  <h3>关于我们</h3>
  <span>About us</span>
</div>
<!--about02-->
<div class="about02">
  <p>司法鉴定中心是司法厅批准的有独立司法鉴定资质的正规亲子鉴定中心。主要从事司法亲子鉴定、隐私亲子鉴定、产前无创亲子鉴定，法医临床司法鉴定、法医病理司法鉴定、个体识别，亲缘鉴定、笔迹鉴定、痕迹鉴定、声像资料等鉴定的机构。机构秉持着诚信、快速、准确的质量真诚得为各位顾客提供最专业及准确的司法亲子鉴定、无创DNA亲子鉴定、胎儿亲子鉴定、个体识别和亲缘关系鉴定等服务。提供了经济、便捷、精准的移民、寻亲、诉讼等鉴定需求。全国亲子鉴定行业中权威、服务项目全面、广大客户满意的基因鉴定服务机构。</p>
  <div class="about02-m">
    <img src="images/about02.jpg">
	<img src="images/about03.jpg">
  </div>
  <p>机构实验平台均拥有一套以上的高配检测仪器，美国ABI公司最新一代3500型自动化高精DNA鉴定测序仪，实现快速、高效、灵敏鉴定。与此同时检测流程严格参照执行公安部《法庭科学DNA实验室检验规范》和司法部《亲权鉴定技术规范》等标准执行，最终实现无差错的实验准确率。运用分子生物学及遗传学等高新技术手段对民事及刑事案件中涉及的生物样品进行科学鉴定。 </p>
</div>
<!--about03-->
<div class="about03">
  <p></p>
  <h3>专业性强  鉴定类型全</h3>
  <span>MAJOR</span>
</div>
<!--about04-->
<div class="about04">
  <img src="images/about04.jpg">
  <p>机构秉持着诚信、快速、准确的质量真诚得为各位顾客提供最专业及准确的司法亲子鉴定、无创DNA亲子鉴定、胎儿亲子鉴定、个体识别和亲缘关系鉴定等服务。提供了经济、便捷、精准的移民、寻亲、诉讼等鉴定需求。</p> 
  <p>全国亲子鉴定行业中最权威、技术实力最强大、服务项目最全面、广大客户最满意的基因鉴定服务机构。</p>
</div>
  <!--lianxi-->
<div class="lianxi-lx">
    <div class="lianxi-lx-l showb"><a href="javascript:void(0);" onClick="openZoosUrl();"><img src="images/weixin.png">点击咨询法医</a></div>
    <div class="lianxi-lx-r showb"><a href="tel:400-4000-400"><img src="images/tel.png">免费热线：400-4000-400</a></div>
</div>

<!--inxbox07-->
<div class="inxbox07">
  <!--title标题-->
<div class="title-bt">
  <img src="images/title.png">
  <p>客户正在搜索
     <span>The customer is searching</span>
  </p>
</div>
  <div class="inxbox07-middle">
    <a>亲子鉴定需要多少钱?</a>
	<a>亲子鉴定需要多少钱?</a>
	<a>亲子鉴定需要多少钱?</a>
	<a>亲子鉴定需要多少钱?</a>
  </div>
  <div class="inxbox07-wd" ><a href="#">在线人工问答</a></div>
</div>

<!--footer-->
<div class="footer">
  <p>司法亲子鉴定版权所有</p>
  <p>全国咨询服务热线(免长途费)</p>
  <a href="#">400-4000-400</a>
  <a  href="http://www.beian.miit.gov.cn" style="font-size:0.24rem; color:#666;">备案号xxxxxxx</a>
</div>





<!--fix-->
<div class="side_nav">
  <dl>
   <dt><a href="#"> <span><img src="images/home.png"></span>首页</a></dt>
   <dd><a href="tel:4006683315"> <span><img src="images/dianhua.png"></span>电话咨询</a> </dd>
   <dd><a href="#"><span><img src="images/xf.png"></span>在线咨询</a></dd>
   <dd><a href="#"><span><img src="images/dz.png"></span>地图导航</a></dd>
  </dl>
</div>

	<script type="text/javascript">	
      /*banner*/ 	 	  
		  var teamSwiper = new Swiper ('#swiper-banner', {
		    loop: true,
		    autoplay: {
			    delay: 5000,
			    stopOnLastSlide: false,
			    disableOnInteraction: true,
		    },
			pagination: {
		      el: '.swiper-pagination',
		      clickable :true,
		    },

		  });	     
</script>	
<script type="text/javascript" src="js/public.js"></script>
</body>
</html>
