<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<title>亲子wap</title>
<meta name="Keywords" content="">
<meta name="Description" content="">
<link type="text/css" href="css/reset.css" rel="stylesheet" />
<link type="text/css" href="css/index.css" rel="stylesheet" />
<link type="text/css" href="css/list.css" rel="stylesheet" />
<link type="text/css" href="css/swiper-4.3.3.min.css" rel="stylesheet">
<script type="text/javascript" src="js/swiper-4.3.3.min.js"></script>

<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script>
        $(window).load(function () {
            $('.btn-nav').on('click tap', function () {
                $('.nav-content').toggleClass('showNav hideNav').removeClass('hidden');
                $(this).toggleClass('animated');
            });
        });

    </script> 
</head>
<body>
<!--header-->
<div class="cehsi">
<header class="header">
国家权威DNA亲子鉴定中心
<button class="btn-nav">
<span class="icon-bar top"></span>
<span class="icon-bar middle"></span>
<span class="icon-bar bottom"></span></button>
</header>
<div class="nav-content hideNav hidden">
<ul class="nav-list">
<li class="nav-item"><a href="#" class="item-anchor">首页</a></li>

<li class="nav-item"><a href="#" class="item-anchor">公司简介</a></li>

<li class="nav-item"><a href="#" class="item-anchor">鉴定项目</a></li>

<li class="nav-item"><a href="#" class="item-anchor">采样方法</a></li>

<li class="nav-item"><a href="#" class="item-anchor">鉴定流程</a></li>

<li class="nav-item"><a href="#" class="item-anchor">鉴定资讯</a></li>

<li class="nav-item"><a href="#" class="item-anchor">费用标准</a></li>

<li class="nav-item"><a href="#" class="item-anchor">关于我们</a></li>

</ul>
</div>
</div>
<div style="width:100%; height:1rem;"></div>
<!--	banner-->
<div class="ysjdb"><img src="images/ysjd.jpg" alt=""></div>
<!--nav-->
<div class="nav">
   <ul>
      <li><img src="images/index01.png" alt="关于我们"><a href="#">关于我们</a></li>
     <li><img src="images/index02.png" alt="亲子鉴定"><a href="#">亲子鉴定</a></li>
     <li><img src="images/index03.png" alt="鉴定流程"><a href="#">鉴定流程</a></li>
      <li><img src="images/index04.png" alt="联系我们\"><a href="javascript:void(0);" onClick="openZoosUrl();">联系我们</a></li>
   </ul>
</div>

<!--鉴定标题-->
<div class="jdbt">
    <h2>说不出的疑虑</h2>
    <p>Unspeakable doubts</p>
</div>
<!--无创鉴定02-->
<div class="ysjd02">
  <div class="ysjd02-m">
    <img src="images/ysjd01.jpg">
	<h3>孩子不像父母</h3>
	<p>孩子长相、性格特征与夫妻双方不像</p>
  </div>
    <div class="ysjd02-m">
    <img src="images/ysjd02.jpg">
	<h3>怀疑妻子出轨</h3>
	<p>怀疑妻子有外遇，害怕喜当爹</p>
  </div>
    <div class="ysjd02-m">
    <img src="images/ysjd03.jpg">
	<h3>未婚先孕</h3>
	<p>未婚先孕或奉子成婚</p>
  </div>
    <div class="ysjd02-m">
    <img src="images/ysjd04.jpg">
	<h3>有多位性伴侣</h3>
	<p>女性在孕前不止一个性伴侣</p>
  </div>
</div>
  <!--lianxi-->
<div class="lianxi-lx">
    <div class="lianxi-lx-l showb"><a href="javascript:void(0);" onClick="openZoosUrl();"><img src="images/weixin.png">点击咨询法医</a></div>
    <div class="lianxi-lx-r showb"><a href="tel:400-4000-400"><img src="images/tel.png">免费热线：400-4000-400</a></div>
</div>
<!--鉴定标题-->
<div class="jdbt">
    <h2>隐私鉴定  准确保密</h2>
    <p>Privacy identification Accurate confidentiality</p>
</div>
<!--无创鉴定03-->
<div class="ysjd03">
  <div class="ysjd03-m">
    <img src="images/ysjd05.jpg">
	<div class="ysjd03-m-m">
	  <span>匿名办理</span>
	  <p>全程匿名，无需露面，无需提供任何证件， 鉴定结果仅通知委托人。 </p>
	</div>
  </div>
    <div class="ysjd03-m">
    <img src="images/ysjd06.jpg">
	<div class="ysjd03-m-m">
	  <span>结果准确</span>
	  <p>采用25个STR检测位点，每个样本分别进行两轮实验， 确保鉴定结果准确无误。</p>
	</div>
  </div>
    <div class="ysjd03-m">
    <img src="images/ysjd07.jpg">
	<div class="ysjd03-m-m">
	  <span>可测样本</span>
	  <p>血痕、带毛囊的头发、口腔拭子、指甲、口香糖、精液等。 支持自助采样邮寄到实验室，足不出户，轻松鉴定。 </p>
	</div>
  </div>
</div>
  <!--lianxi-->
<div class="lianxi-lx">
    <div class="lianxi-lx-l showb"><a href="javascript:void(0);" onClick="openZoosUrl();"><img src="images/weixin.png">点击咨询法医</a></div>
    <div class="lianxi-lx-r showb"><a href="tel:400-4000-400"><img src="images/tel.png">免费热线：400-4000-400</a></div>
</div>
<!--inxbox07-->
<div class="inxbox07">
  <!--title标题-->
<div class="title-bt">
  <img src="images/title.png">
  <p>客户正在搜索
     <span>The customer is searching</span>
  </p>
</div>
  <div class="inxbox07-middle">
    <a>亲子鉴定需要多少钱?</a>
	<a>亲子鉴定需要多少钱?</a>
	<a>亲子鉴定需要多少钱?</a>
	<a>亲子鉴定需要多少钱?</a>
  </div>
  <div class="inxbox07-wd" ><a href="#">在线人工问答</a></div>
</div>

<!--footer-->
<div class="footer">
  <p>司法亲子鉴定版权所有</p>
  <p>全国咨询服务热线(免长途费)</p>
  <a href="#">400-4000-400</a>
  <a  href="http://www.beian.miit.gov.cn" style="font-size:0.24rem; color:#666;">备案号xxxxxxx</a>
</div>





<!--fix-->
<div class="side_nav">
  <dl>
   <dt><a href="#"> <span><img src="images/home.png"></span>首页</a></dt>
   <dd><a href="tel:4006683315"> <span><img src="images/dianhua.png"></span>电话咨询</a> </dd>
   <dd><a href="#"><span><img src="images/xf.png"></span>在线咨询</a></dd>
   <dd><a href="#"><span><img src="images/dz.png"></span>地图导航</a></dd>
  </dl>
</div>

	<script type="text/javascript">	
      /*banner*/ 	 	  
		  var teamSwiper = new Swiper ('#swiper-banner', {
		    loop: true,
		    autoplay: {
			    delay: 5000,
			    stopOnLastSlide: false,
			    disableOnInteraction: true,
		    },
			pagination: {
		      el: '.swiper-pagination',
		      clickable :true,
		    },

		  });	     
</script>	
<script type="text/javascript" src="js/public.js"></script>
</body>
</html>
