<html>
<head>
<title>我的第一个 HTML 页面</title>
</head>
<body>
<form method="post" action="{:url('index/currm/addcurrmon')}">
课程名称<input type="text" name="cur_name"><br>
科目<input type="text" name="subject"><br>
授课方式<input type="text" name="tmethods"><br>
课程时长<input type="text" name="ctime"><br>
描述<input type="text" name="describe"><br>
备注<input type="text" name="remarks"><br>
上架<input type="text" name="state"><br>
是否转化通用课<input type="text" name="conversion"><br>
是否热门<input type="text" name="popular"><br>
操作人<input type="text" name="manager"><br>
<input type="submit" value="tjiao"><br>
</form>
</body>
</html>