{layout name="layout:layout" /} 

<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>角色</th> 
      <th>状态</th>
      <th>创建人</th>
      <th>最近更新</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
  {volist name='users_list' id='item'}
    <tr>
      <td>{$item.cur_name}</td>
      <td>{$item.state}</td>
      <td>{$item.manager}</td>
      <td>{:date('Y-m-d H:i:s',$item.create_time)}</td>
      <td>
        <a href="{:url('edit',['cur_id'=>$item['cur_id']])}" class="layui-btn layui-btn-xs">编辑</a>
        <a href="{:url('del',['cur_id'=>$item['cur_id']])}" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>

      </td>
    </tr> 
    {/volist}
    </div>
  </tbody>
</table>
{$users_list|raw}
<script>
  $(function(){ 
  })
</script>

