{layout name="layout:layout" /} 

<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">权限</label>
    <div class="layui-input-block">
      <input type="text" name="aname" required  lay-verify="required" placeholder="请输入权限" autocomplete="off" class="layui-input" value="{$access.aname}">
    </div>
  </div>  

  <div class="layui-form-item">
    <label class="layui-form-label">接口</label>
    <div class="layui-input-block">
      <input type="text" name="aurl" placeholder="请输入接口" autocomplete="off" class="layui-input" value="{$access.aurl}">
    </div>
  </div>  
  <div class="layui-form-item">
    <label class="layui-form-label">父级</label>
    <div class="layui-input-block">
      <select name="pid" lay-verify="required">
        <option value="0">顶级</option>
        {volist name='parent_accesses' id='item'}
        <option value="{$item.id}" {if condition="$access['pid'] eq $item['id']"}selected{/if}>{$item.aname}</option>
        {/volist}
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">是否菜单</label>
    <div class="layui-input-block">
      <select name="show" lay-verify="required">
        <option value="1" {if condition="$access['show'] eq 1"}selected{/if}>是</option> 
        <option value="0" {if condition="$access['show'] eq 0"}selected{/if}>否</option> 
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <select name="status" lay-verify="required">
        <option value="1"{if condition="$access['status'] eq 1"}selected{/if}>启用</option> 
        <option value="2"{if condition="$access['status'] eq 2"}selected{/if}>禁用</option> 
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="hidden" name="id" value="{$access.id}">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){ 
     $.post('{:url("edit")}',data.field,function(e){
     	if(e.status){
            layer.msg(e.sinfo);
            window.location.href = '{:url("index")}';
        }else{
            layer.msg(e.emsg,{time:2000}); 
        }
     },'json');
     return false;
  });
});
</script>

