{layout name="layout:layout" /} 

<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>姓名</th> 
      <th>电话</th>
      <th>学校</th>
      <th>年纪</th>
      <th>监护人姓名</th>
      <th>监护人电话</th>
      <th>性别</th>、
      <th>创建时间</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
  {volist name='users_list' id='item'}
    <tr>
      <td>{$item.truename}</td>
      <td>{$item.cellphone}</td>
      <td>{$item.school_name}</td>
      <td>{$item.grade}</td>
      <td>{$item.guardian_name}</td>
      <td>{$item.guardian_phone}</td>
      <td>{$item.sex}</td>
      <td>{:date('Y-m-d H:i:s',$item.create_time)}</td>
      <td>
       <!--  <a href="{:url('edit',['cur_id'=>$item['cur_id']])}" class="layui-btn layui-btn-xs">编辑</a>
        <a href="{:url('del',['cur_id'=>$item['cur_id']])}" class="layui-btn layui-btn-xs layui-btn-danger">删除</a> -->
      </td>
    </tr> 
    {/volist}
    </div>
  </tbody>
</table>
{$users_list|raw}
<script>
  $(function(){ 
  })
</script>

